<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>Sammy Mustafa</h4>
        <br>
        <p>Northwestern University</p>
        <p>Phone: (201) 957-4754</p>
        <p>Email: sammymustafa@gmail.com</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/train.jpeg" alt="Contact" width="100%">
    </div>
    {% endfor %}
  </div>
</div>
