<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
    <h5 class="fw-bold"><a href="/research/ptenp1.pdf">PTENP1: A Pivotal Pseudogene in Glioblastomas</a></h5>
      <p>This is PTENP1</p>
    </div>
    <h5 class="fw-bold"><a href="/research/serbp1.pdf">SERBP1: Exploiting RNA-Binding Protein-Mediated PAI-1 Inhibition</a></h5>
      <p>This is SERBP1</p>
    </div>
    <h5 class="text-md-start">Current Research Pursuit:</h5>
      <p class="text-md-start">I will eat you</p>
    </div>
  </div>
</div>