---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">About</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <img src="{{ site.github.url }}/assets/img/birds.jpeg" alt="birds" width = "100%">
    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <p>Chicken fingers mmmm</p>
      <div class="row g-5 mb-5">
        <div class="col-md-12">
          <p>The flavor...</p>
      <div class="row g-5 mb-5">
        <div class="col-md-12">
          <p>Uh oh poopie</p>